@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
$md: "min-width: 768px";

body {
  color: rgb(var(--foreground-rgb));
}

nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
  .logo svg {
    @media not all and ($md) {
      width: 98px;
      height: 70px;
    }
  }
  & > div.flex.items-center.flex-row.justify-start > p {
    overflow: hidden;
    @media not all and ($md) {
      display: none;
    }
  }
  &.scrolling {
    max-width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    @media not all and ($md) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.tasks {
  li {
    border-radius: 1vmin;
    width: 100%;
    cursor: pointer;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    .checkbox {
      padding: 2px;
      width: fit-content;
      height: fit-content;
      position: relative;
      input {
        width: 1px;
        opacity: 0;
        height: 1px;
        position: absolute;
      }
      .bg {
        cursor: pointer;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 4px;
        height: 1rem;
        width: 1rem;
        position: relative;
        transition: border-color 0.2s ease, background 0.2s ease,
          box-shadow 0.2s ease;
        transform: rotate(0.000001deg);
      }
    }
  }
  li.checked {
    h3,
    input {
      text-decoration: line-through;
    }
  }

  &#elementHovered {
    li:not(li:hover) {
      filter: blur(4px) opacity(0.3);
    }
  }
}
html.dark {
  #nprogress .bar {
    background: white !important;
  }
}
html.light {
  #nprogress .bar {
    background: black !important;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
